@font-face {
  font-family: "Bosch Sans";
  src: url("./BoschSans-Light.woff") format('woff');
}

@font-face {
  font-family: "Bosch Sans Regular";
  src: url("./BoschSans-Regular.woff") format('woff');
}

@font-face {
  font-family: "Bosch Sans Italic";
  src: url("./BoschSans-LightItalic.woff") format('woff');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
 }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

body {
  font-family: "Bosch Sans", Helvetica, Arial, sans-serif;
  /* font-size: 16px; */
  line-height: 1.375;
  color: #000;
  background-color: #a8afb5;
  font-weight: 400;
}

